[Desktop Entry]
Version=1.0
Name=Cesarcoin Core
Comment=Connect to the Cesarcoin P2P Network
Comment[de]=Verbinde mit dem Cesarcoin peer-to-peer Netzwerk
Comment[fr]=Cesarcoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Cesarcoin, eşten eşe kriptografik sanal para birimi
Exec=cesarcoin-qt %u
Terminal=false
Type=Application
Icon=cesarcoin128
MimeType=x-scheme-handler/cesarcoin;
Categories=Office;Finance;
StartupWMClass=Cesarcoin-qt
