# It is not recommended to modify this file in-place, because it will
# be overwritten during package upgrades. If you want to add further
# options or overwrite existing ones then use
# $ systemctl edit cesarcoind.service
# See "man systemd.service" for details.

# Note that almost all daemon options could be specified in
# /etc/cesarcoin/cesarcoin.conf

[Unit]
Description=Cesarcoin daemon
After=network.target

[Service]
ExecStart=/usr/bin/cesarcoind -daemon -conf=/etc/cesarcoin/cesarcoin.conf -pid=/run/cesarcoind/cesarcoind.pid
# Creates /run/cesarcoind owned by cesarcoin
RuntimeDirectory=cesarcoind
User=cesarcoin
Type=forking
PIDFile=/run/cesarcoind/cesarcoind.pid
Restart=on-failure
PrivateTmp=true

[Install]
WantedBy=multi-user.target
